
<p>
  <strong>Name:</strong>
  <%= @customer.Name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.Phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.Email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.Address %>
</p>

<p>
  <strong>Ordernumber:</strong>
  <%= @customer.OrderNumber %>
</p>

<p>
  <strong>Dateoforder:</strong>
  <%= @customer.DateOfOrder %>
</p>

<p>
  <strong>Orderstatus:</strong>
  <%= @customer.OrderStatus %>
</p>

<p>
  <strong>Billingaddress:</strong>
  <%= @customer.BillingAddress %>
</p>

<p>
  <strong>Shippingaddress:</strong>
  <%= @customer.ShippingAddress %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @customer.SKU %>
</p>

<p>
  <strong>Mrp:</strong>
  <%= @customer.MRP %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @customer.Quantity %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @customer.Discount %>
</p>

<p>
  <strong>Netprice:</strong>
  <%= @customer.NetPrice %>
</p>

<p>
  <strong>Username:</strong>
  <%= @customer.Username %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @customer.Phoneno %>
</p>

<p>
  <strong>Addressline1:</strong>
  <%= @customer.AddressLine1 %>
</p>

<p>
  <strong>Addressline2:</strong>
  <%= @customer.Addressline2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.State %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.Country %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @customer.Pin %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer), class:"btn btn-dark" %> |
<%= link_to 'Back', customers_path, class:"btn btn-secondary" %>
